
<div class="content">

  <h1 class="header">Update A Shelter</h1>

  <section class="bold">
    <%= render partial: 'shelter_form',
      locals: {path: "/shelters/#{@shelter.id}",
               method: :patch,
               klass: "grey hover",
               button_text: 'Update Shelter',
               name_fillin: "#{@shelter.name}",
               address_fillin: "#{@shelter.address}",
               city_fillin: "#{@shelter.city}",
               state_fillin: "#{@shelter.state}",
               zip_fillin: "#{@shelter.zip}"}%>

  </section>

</div>
