
<div class="content">

<div class="center-text">
    <h1 class ="header">Enter A New Shelter</h1>
</div>

<section class="bolder">
  <%= render partial: 'shelter_form',
  locals: {path: "/shelters",
          method: :post,
          klass: "grey hover",
          button_text: 'Create Shelter',
          name_fillin: "",
          address_fillin: "",
          city_fillin: "",
          state_fillin: "",
          zip_fillin: ""}%>
</section>




</div>
