<div class="content">

  <h1 class="header center-text">Update <%= @pet.name %></h1>

  <section class="bolder">
  <br><br>
  <%= render partial: 'pet_form',
    locals: {path: "/pets/#{@pet.id}/edit",
             method: :patch,
             klass: "grey hover",
             button_text: 'Update Pet',
             name_fillin: "#{@pet.name}",
             description_fillin: "#{@pet.description}",
             image_fillin: "#{@pet.image}",
             age_fillin: "#{@pet.age}",
             sex_fillin: "#{@pet.sex}",
             adoptable_fillin: "#{@pet.adoptable}" }%>
  </section>

</div>
