<div class="content">

  <h1 class="header center-text">Enter A New Shelter Pet</h1>
  <br>
  <br>
  <section class="bolder">
    <%= render partial: 'pet_form',
    locals: {path: "/shelters/#{@shelter.id}/pets",
            method: :post,
            klass: "grey hover",
            button_text: 'Create Pet',
            name_fillin: "",
            description_fillin: "",
            image_fillin: "",
            age_fillin: "",
            sex_fillin: "",
            adoptable_fillin: "" }%>

  </section>

</div>
