<div class="content">

<h1 class="header center-text">Update Review</h1>

<br><br>
  <section class="bolder">

  <%= render partial: 'review_form',
    locals: {path: "/shelters/#{@shelter.id}/reviews/#{@review.id}",
             method: :patch,
             klass: "grey hover",
             button_text: 'Edit Review',
             title_fillin: "#{@review.title}",
             rating_fillin: "#{@review.rating}",
             content_fillin: "#{@review.content}",
             image_fillin: "#{@review.image}" }%>
  </section>
</div>
