<div class="content">
  <h1 class = "header">Create a new Review</h1>

  <section class="bolder">

    <%= render partial: 'review_form',
    locals: {path: "/shelters/#{@shelter.id}/reviews/#{@review.id}",
    method: :post,
    klass: "grey hover",
    button_text: "Create Review",
    title_fillin: "",
    rating_fillin: "",
    content_fillin: "",
    image_fillin: "" }%>
  </section>

</div>
