<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <div class="background">
      <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
    </div>

    <div class="main_menu">
      <a href="/">Main</a>
      <a href="/shelters">Shelters</a>
      <a href="/shelters/new">New Shelter</a>
      <a href="/pets">Pets</a>
      <a class="favorite_indicator" href="/favorites">favorites_place_holder</a>
    </div>
  </body>
</html>
